@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("../Images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 576px) {
    body {
    background-image: url("../Images/bg-header-mobile.png");
}
}