@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
    @apply font-bold text-4xl text-darkGrayishBlue md:text-5xl mb-8;
    }

    h5 {

        @apply text-2xl font-bold text-darkGrayishBlue
    
    }
}


.section-container {
    @apply max-w-6xl mx-auto text-center px-10;
}

.section-text {

    @apply max-w-3xl text-xl text-grayishBlue mx-auto leading-9 text-center
}

.button-container {
    @apply flex flex-col md:flex-row space-y-6 md:space-y-0 md:space-x-4 justify-center text-white text-xl
}

body {
    background-image: url("../Images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 576px) {
    body {
    background-image: url("../Images/bg-header-mobile.png");
}
}

.snippets-content-text {

@apply max-w-md text-grayishBlue text-xl

}
